.header-container {
    height: 100px;
    width: 80%;
    margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
 
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  padding: 41px 16px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#brand-logo {
  color: #fed136;
  font-family: cursive;
  font-size: 200%;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  padding: 25px 0px;

}
.topnav {
  float: right;
  height: 100%;
 
}
.nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 599px) {
    #header .container {
      width: 100%;
    }
    #header h1 {
      padding-left: 3%;
    }
    #nav {
      width: 100%;
      top: 60px;
    }
    #nav:before {
      content: '\2630';
      display: block;
      position: absolute;
      right: 3%;
      top: -50px;
      line-height: 40px;
      font-size: 1.4em;
      cursor: pointer;
    }
    #nav ul {
      background: #222;
      width: 100%;
      margin: 0px;
    }
    #nav ul li {
      float: none;
    }
    #nav ul li a {
      padding: 10px 3%;
      line-height: 20px;
      border-top: 1px solid #333;
    }
  }